@use "../../../../styles/variables" as vars;

.info {
	margin: vars.$margin-xs 0;
	display: flex;
	align-items: center;

	.project-type {
		margin-right: vars.$margin-xs;
		padding: vars.$margin-xs * 0.5 vars.$margin-sm * 0.5;
		background-color: vars.$secondary-color;
		border-radius: 10px;

		transition: background-color vars.$background-transition;
	}

	.technology {
		width: 28px;
		height: 28px;
		margin-left: vars.$margin-xs;
	}
}
