<div
	class="overlay"
	[class.open]="useOverlay"
	[class.closing]="closingOverlay"
	(mousedown)="onOverlayMouseDown($event)"
	(mouseup)="onOverlayMouseUp($event)"
>
	<button class="close-button" (click)="closeOverlay()">
		<span class="close-icon">&times;</span>
	</button>
	<img src="{{ images[activeIndex] }}" alt="Overlay Image" />
	<button
		class="arrow left-arrow"
		(click)="previousImage()"
		[class.disabled]="activeIndex === 0"
	>
		<span class="arrow-icon">&#10095;</span>
	</button>
	<button
		class="arrow right-arrow"
		(click)="nextImage()"
		[class.disabled]="activeIndex === images.length - 1"
	>
		<span class="arrow-icon">&#10095;</span>
	</button>
</div>
