@use "../../../../../../styles/variables" as vars;
@use "../../../../../../styles/themes" as themes;

.overlay {
	position: fixed;
	top: -100%;
	left: 0;
	right: 0;
	bottom: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background-color vars.$background-transition;
	z-index: 10;

	display: flex;
	justify-content: center;
	align-items: center;

	.close-button {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 60px;
		height: 60px;

		position: absolute;
		top: vars.$margin-sm;
		right: vars.$margin-sm;

		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 100%;

		color: themes.$theme-offwhite;
		font-size: 50px;

		border: none;

		// Load-in transition
		margin-top: -150px;
		opacity: 0;
		transition: margin-top vars.$background-transition, opacity vars.$background-transition, color vars.$text-transition;

		&:focus {
			outline: none;
		}

		span {
			display: block;
			width: 60px;
			height: 65px;
		}
	}

	img {
		max-width: 100%;
		max-height: 100%;
		user-select: none;

		// Load-in transition
		margin-top: -150px;
		opacity: 0;
		transition: margin-top vars.$background-transition, opacity vars.$background-transition;
	}

	.arrow {
		width: 60px;
		height: 60px;

		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		display: flex;
		justify-content: center;
		align-items: center;

		cursor: pointer;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 100%;

		color: themes.$theme-offwhite;
		font-size: 40px;
		border: none;

		// Load-in transition
		margin-top: -150px;
		opacity: 0;
		transition: margin-top vars.$background-transition, opacity vars.$background-transition, color vars.$text-transition;

		&:focus {
			outline: none;
		}
	}

	.left-arrow {
		left: vars.$margin-sm;
		transform: translateY(-50%) rotate(180deg);
	}

	.right-arrow {
		right: vars.$margin-sm;
	}
}

.overlay.open:not(.closing) {
	background-color: rgba(0, 0, 0, 0.7);
	img,
	.close-button {
		margin-top: 0;
		opacity: 1;
	}

	.arrow {
		margin-top: 0;
		opacity: 1;

		&.disabled {
			// Specificity issue fix
			opacity: 0.3;
			cursor: not-allowed;
		}
	}
}

.overlay.open {
	top: 0;
	bottom: 0;
}
