@import "../../../styles/variables";

header {
	display: flex;
	width: 100%;
	height: $header-height;
	align-items: center;
	z-index: 10;

	position: fixed;
	top: 0;
	left: 0;

	background-color: $primary-color;
	box-shadow: $shadow-sm;

	transition: background-color $background-transition, transform 0.3s ease-in-out;

	// Sticky header
	&.hidden {
		transform: translateY(-100%);
	}

	.logo a {
		display: block;
		height: $header-height;
		width: $header-height;

		// This allows the logo to have it's color set by the background-color property
		mask-size: cover;
		background-color: $text-inverse-color;

		transition: background-color $text-transition; // Used as text rather than large background
	}

	.main {
		width: 100%;
		display: flex;
		align-items: center;
	}

	nav ul {
		display: flex;
		height: 100%;
		align-items: center;
		position: relative;

		padding: 0;
		margin: 0 0 0 $margin-xlg;

		list-style: none;

		li {
			margin: 0 $margin-lg * 0.1;
			transition: transform 0.3s;

			a {
				color: $text-inverse-color;
				text-decoration: none;

				padding: 0 $margin-lg * 0.45;

				transition: color $text-transition, opacity 0.2s;

				&.active {
					text-decoration: none;
					cursor: default;
					pointer-events: none;
				}

				// Hover effect for all but active links
				&:not(:has(.active)):hover {
					opacity: 0.8;
				}
			}
		}

		li:first-of-type {
			margin-left: 0;
		}

		// Underline effect for active link
		.active-link-underline {
			position: absolute;
			width: 100px;
			height: 2px;
			background-color: $text-inverse-color;
			transition: background-color $text-transition, left 0.3s ease-in-out, width 0.3s; // Used as text rather than large background
		}
	}

	app-theme-toggle {
		margin-left: auto;
		margin-right: $margin-md;

		height: fit-content;
	}

	// Hamburger logic
	app-hamburger {
		display: none;
	}

	&.hamburger {
		app-hamburger {
			margin: 0 $margin-md 0 auto;
			display: block;
		}

		.main {
			display: none;
		}
	}
}
