@use "variables" as vars;

@mixin main {
	max-width: 800px;
	width: 80%;
	margin: calc(vars.$header-height + vars.$margin-md - vars.$bubble-height) auto vars.$margin-xlg auto;

	@include mobile {
		width: 95%;
		margin-bottom: vars.$margin-lg;
	}
}

@mixin bubble {
	&.bubble {
		width: 100%;
		height: vars.$bubble-height;
		position: relative;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			top: -60%;
			left: 50%;
			transform: translateX(-50%);

			width: 170%;
			min-width: 800px;
			height: 160%;
			background-color: vars.$secondary-color;
			transition: background-color vars.$background-transition;
			z-index: -1;
			border-radius: 50%;
		}
	}
}

@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}
