@import "variables";

@mixin main {
	max-width: 800px;
	width: 80%;
	margin: calc($margin-md + $header-height) auto $margin-xlg auto;

	@include mobile {
		width: 95%;
		margin: $margin-md auto $margin-lg auto;
	}

	@include bubble();
}

@mixin bubble {
	&::before {
		content: "";
		position: absolute;
		top: -60%;
		left: 50%;
		transform: translateX(-50%);

		width: 170%;
		min-width: 800px;
		height: 111%;
		background-color: $secondary-color;
		transition: background-color $background-transition;
		z-index: -1;
		border-radius: 50%;
	}
}

@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}
