@import "variables";
@import "mixins";
@import "themes";
@import "typography";
@import "../../node_modules/normalize.css/normalize.css";

body {
	background-color: $background-color;
	color: $text-color;

	transition: background-color $background-transition, color $text-transition;

	@include body-text;
}

h1,
.h1 {
	@include heading-1;
}

h2,
.h2 {
	@include heading-2;
}

h3,
.h3 {
	@include heading-3;
}

.title {
	@include title;
}

.subtext {
	@include subtext;
}
