@use "variables" as vars;
@use "mixins";
@use "themes";
@use "typography" as typo;
@import "../../node_modules/normalize.css/normalize.css";

body {
	background-color: vars.$background-color;
	color: vars.$text-color;

	transition: background-color vars.$background-transition, color vars.$text-transition;

	@include typo.body-text;
}

h1,
.h1 {
	@include typo.heading-1;
}

h2,
.h2 {
	@include typo.heading-2;
}

h3,
.h3 {
	@include typo.heading-3;
}

.title {
	@include typo.title;
}

.subtext {
	@include typo.subtext;
}
