@use "../../../../../styles/variables" as vars;
@use "../../../../../styles/mixins" as mixins;

$icon-width: 2px;

.accordion {
	height: fit-content;
	margin-bottom: vars.$margin-md;
	padding: vars.$margin-sm;
	border-radius: 20px;
	background-color: vars.$background-secondary-color;
	box-shadow: vars.$shadow-lg;
	transition: background-color vars.$background-transition;
	cursor: pointer;

	.accordion-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		h3 {
			margin: 0;
		}

		.icon {
			span {
				display: block;
				width: 30px;
				height: $icon-width;
				background-color: vars.$text-color;
			}

			.vertical {
				margin-top: -$icon-width;
				transition: transform 0.15s ease-in;
			}
		}
	}

	.accordion-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.15s ease-in;

		p {
			margin: 12px 0 0 0;
		}
	}

	&.open {
		.accordion-header .icon .vertical {
			transform: rotate(90deg);
		}
		.accordion-content {
			max-height: 1000px;
		}
	}
}
