@use "../../../../styles/variables" as vars;
@use "../../../../styles/mixins" as mixins;

.main {
	h2 {
		width: fit-content;
		margin: 0;
		text-transform: capitalize;
	}

	.tech-group {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: vars.$margin-lg;

		position: relative;
		&:not(:last-child)::after {
			content: "";
			display: block;
			position: absolute;
			bottom: calc(vars.$margin-lg * -0.5);
			left: 50%;
			width: 60%;
			transform: translateX(-50%);
			height: 1px;

			background: vars.$text-color;
			opacity: 0.4;
			border-radius: 50%;
		}

		@include mixins.mobile() {
			&:not(:last-child)::after {
				content: none;
			}
		}

		.technologies {
			display: flex;
			max-width: 452px;
			width: fit-content;
			gap: vars.$margin-sm;
			flex-wrap: wrap;
			justify-content: center;

			margin-top: vars.$margin-sm;
			margin-left: auto;

			.technology {
				width: fit-content;

				display: flex;
				flex-direction: column;
				align-items: center;

				img {
					height: 140px;
				}

				p {
					width: fit-content;
					margin: 0;
					text-align: center;
				}

				.skill {
					text-transform: capitalize;
				}
			}

			.technology:last-child:nth-child(3n+1) {
				margin-left: auto;
				margin-right: auto;
			}
		}

		@include mixins.mobile() {
			display: block;

			.technologies {
				max-width: 100%;
				align-items: center;
				justify-content: center;
				margin-left: auto;
				margin-right: auto;

				.technology {
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				.technology:last-child:nth-child(3n+1) {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}

	.name {
		display: none
	}
}
