@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixins;

.bubble {
	@include mixins.bubble();
}

$thumbnail-height: var(--thumbnail-height);
$mobile-filter-offset: 100px;

.wrapper {
	--thumbnail-height: 176px;

	margin-top:  calc(vars.$header-height - vars.$bubble-height);

	@include mixins.mobile() {
		--thumbnail-height: 160px;
	}

	&.sidebar {
		margin-left: vars.$project-sidebar-width;
		.projects::before {
			margin-left: vars.$project-sidebar-width * 0.5;
		}
	}

	&:not(.sidebar) {
		// No margin so that the filter can be at the top of the page
		app-project-filter {
			width: 100%;
			display: flex;
			justify-content: right;
		}

		.projects {
			margin-top: vars.$margin-md;
		}
	}
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: vars.$margin-xlg;

	margin: vars.$margin-md auto vars.$margin-md auto;

	@include mixins.bubble();

	@media (max-width: 1023px) {
		padding: 0 vars.$margin-xs * 2;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.card {
		max-width: min(95vw, 460px);
		height: 436px;

		padding: vars.$margin-sm;

		border-radius: 20px;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;

		background-color: vars.$background-secondary-color;
		box-shadow: vars.$shadow-lg;

		transition: background-color vars.$background-transition;

		@include mixins.mobile() {
			padding: vars.$margin-xs;
			max-height: 365px;
			max-width: min(95vw, 400px);
		}

		.thumbnail {
			width: 100%;
			height: $thumbnail-height;
			background: gray; // Placeholder

			position: absolute;
			top: 0;
			left: 0;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.content {
			// Height of thumbnail. The amount the thumbnail goes up into the padding of the card becomes the padding-top of the content.
			margin-top: calc($thumbnail-height - vars.$margin-sm + vars.$margin-sm);

			.project-title {
				margin: 0 0 vars.$margin-xs 0;
				// Max out at one line
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.overview {
				margin: vars.$margin-xs 0;
				// Clamp the text to 5 lines
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;

				@include mixins.mobile() {
					-webkit-line-clamp: 4;
				}
			}
		}
	}
}

.project-type {
	margin-right: vars.$margin-xs;
	padding: vars.$margin-xs * 0.5 vars.$margin-sm * 0.5;
	background-color: vars.$secondary-color;
	border-radius: 10px;

	transition: background-color vars.$background-transition;
}
