<div class="slider-container">
	<img
		class="selected"
		[src]="images[currentIndex]"
		alt="Slider Image"
		tabindex="0"
		(click)="openOverlay()"
		(keydown.enter)="openOverlay()"
		(keydown.arrowLeft)="previousImage()"
		(keydown.arrowRight)="nextImage()"
	/>
	<div class="thumbnails">
		<div
			class="prev"
			[class.active]="getActive('previous')"
			(click)="this.previousImage()"
			tabindex="0"
			(keydown.enter)="this.previousImage()"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
				<path d="M50 -100 L250 200 L50 500" fill="none" stroke-width="15"/>
			</svg>
		</div>
		<div
			*ngFor="let image of images; let i = index"
			(click)="goToImage(i)"
			[class.active]="i === currentIndex"
			class="thumbnail"
			tabindex="0"
			(keydown.enter)="goToImage(i)"
		>
			<img [src]="image" alt="Thumbnail {{ i + 1 }}" />
		</div>
		<div
			class="next"
			[class.active]="getActive('next')"
			(click)="goToImage(currentIndex + 1)"
			tabindex="0"
			(keydown.enter)="goToImage(currentIndex + 1)"
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
				<path d="M50 -100 L250 200 L50 500" fill="none" stroke-width="15"/>
			</svg>
		</div>
	</div>
</div>
<div class="overlay" [class.open]="useOverlay" [class.closing]="closingOverlay" (mousedown)="onOverlayMouseDown($event)" (mouseup)="onOverlayMouseUp($event)">
	<div class="close" (click)="closeOverlay()" tabindex="0" (keydown.enter)="closeOverlay()">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
			<path d="M10,10 L90,90 M90,10 L10,90" fill="black" stroke-width="15"/>
		</svg>
	</div>
	<img src="{{ images[currentIndex] }}" alt="Overlay Image" />
	<div class="prev" (click)="previousImage()" tabindex="0" (keydown.enter)="previousImage()" [class.active]="getActive('previous')">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 400">
			<path d="M50 -100 L250 200 L50 500" fill="none" stroke-width="15"/>
		</svg>
	</div>
	<div class="next" (click)="nextImage()" tabindex="0" (keydown.enter)="nextImage()" [class.active]="getActive('next')">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 400">
			<path d="M50 -100 L250 200 L50 500" fill="none" stroke-width="15"/>
		</svg>
	</div>
</div>
