<div class="image-slider">
	<div
		class="slider-container"
		(click)="openOverlay()"
		(keydown.enter)="openOverlay()"
		tabindex="0"
		(touchstart)="onTouchStart($event)"
		(touchmove)="onTouchMove($event)"
		(touchend)="onTouchEnd($event)"
	>
		<div class="slider-content">
			<ng-container *ngFor="let image of images; let i = index; trackBy: trackByFn">
				<img
					[src]="image"
					[class.active]="i === activeIndex"
					alt="Slider image {{i + 1}}"
				>
			</ng-container>
		</div>
		<button
			class="arrow left-arrow"
			[class.disabled]="activeIndex === 0"
			(click)="previousImage($event)"
		>
			<span class="arrow-icon">&#10094;</span>
		</button>
		<button
			class="arrow right-arrow"
			[class.disabled]="activeIndex === images.length - 1"
			(click)="nextImage($event)"
		>
			<span class="arrow-icon">&#10095;</span>
		</button>
	</div>

	<div class="thumbnails-container" *ngIf="!isMobile">
		<button
			class="thumbnail-arrow left-arrow"
			[class.disabled]="activeIndex === 0"
			(click)="previousImage()"
		>
			<span class="arrow-icon">&#10094;</span>
		</button>

		<div class="thumbnails">
			<div
				class="thumbnail"
				*ngFor="let image of images; let i = index; trackBy: trackByFn"
				[class.active]="i === activeIndex"
				(click)="goToImage(i)"
				(keydown.enter)="goToImage(i)"
				tabindex="0"
			>
				<img [src]="image" alt="Thumbnail {{i + 1}}">
			</div>
		</div>

		<button
			class="thumbnail-arrow right-arrow"
			[class.disabled]="activeIndex === images.length - 1"
			(click)="nextImage()"
		>
			<span class="arrow-icon">&#10095;</span>
		</button>
	</div>
	<div class="dots-container" *ngIf="isMobile">
		<div
			class="dot"
			*ngFor="let image of images; let i = index; trackBy: trackByFn"
			[class.active]="i === activeIndex"
			(click)="goToImage(i)"
			tabindex="0"
			(keydown.enter)="goToImage(i)"
		></div>
	</div>
</div>

<div
	class="overlay"
	[class.open]="useOverlay"
	[class.closing]="closingOverlay"
	(mousedown)="onOverlayMouseDown($event)"
	(mouseup)="onOverlayMouseUp($event)"
>
	<button class="close-button" (click)="closeOverlay()">
		<span class="close-icon">&times;</span>
	</button>
	<img src="{{ images[activeIndex] }}" alt="Overlay Image" />
	<button
		class="arrow left-arrow"
		(click)="previousImage()"
		[class.disabled]="activeIndex === 0"
	>
		<span class="arrow-icon">&#10095;</span>
	</button>
	<button
		class="arrow right-arrow"
		(click)="nextImage()"
		[class.disabled]="activeIndex === images.length - 1"
	>
		<span class="arrow-icon">&#10095;</span>
	</button>
</div>
