@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.wrapper {
	display: grid;
	grid-template-columns: 33% 67%;
	gap: $margin-sm;
	max-height: 415px;
	overflow: hidden;

	@include mobile() {
		display: flex;
		flex-direction: column;
		max-height: none;
	}

	.description {
		max-height: 350px;
		margin: 0;

		position: relative;
		&::after {
			content: "";
			display: block;
			height: 50px;

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			background: linear-gradient(to bottom, transparent, $background-color);
			transition: background-color $text-transition;

			@include mobile() {
				content: none;
			}
		}
	}

	.info {
		height: fit-content;
		margin: 0;

		padding: 0 10px;
		box-sizing: border-box;

		img {
			max-height: 300px;
			object-fit: contain;
		}

		h3 {
			margin: 0 0 0 0;

			// Make it cut off if the title is too long.
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			box-sizing: border-box;
			padding-right: 15px;
		}

		@include mobile() {
			display: flex;
			flex-direction: column;
			padding: 0;
		}
	}
}
