@use "../../../styles/variables" as vars;

footer {
	display: flex;
	height: vars.$footer-height;

	justify-content: center;
	align-items: center;

	background-color: vars.$primary-color;
	color: vars.$text-inverse-color;

	transition: background-color vars.$background-transition, color vars.$text-transition;

	p {
		margin: 0;
	}

	.separator {
		display: block;
		height: 1em;

		margin: 0 vars.$margin-sm;
		border-right: 2px solid vars.$text-inverse-color;

		transition: border-color vars.$text-transition; // Used as text rather than large background
	}

	.links {
		display: flex;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin-right: vars.$margin-xs;
		}

		a {
			display: block;
			width: 1.25em;
			height: 1.25em;

			mask-size: cover;
			background-color: vars.$text-inverse-color;

			transition: background-color vars.$text-transition; // Used as text rather than large background
		}
	}

	@media (max-width: 446px) {
		flex-direction: column;

		.separator {
			display: none;
		}
	}
}
